
<h2><%= @tasks.title %></h2>
<p><%= @tasks.details %></p>
<p><%= @tasks.completed %></p>


<div>
<%= link_to "Back to the list", tasks_path %>
</div>

<div>
<%= link_to "Edit this task", edit_task_path %>
</div>


